/mono/Battle/Battle/Battle.pidb
/mono/Battle/Battle.userprefs
/mono/Battle/BatteLib/BatteLib.pidb
# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults/battle.pyc
/1
/battle.pyc
